version: "3"

services:

  api:
    container_name: api_example
    build: ./server/docker-build
    image: saltborn/api:latest
    restart: on-failure
    volumes:
      - "./server:/server"
    command: sh -c "python3 /server/run.py"

  nginx:
    container_name: nginx_example
    image: nginx:latest
    restart: on-failure
    depends_on:
      - api
    ports:
      - "8000:80"
    volumes:
      - "./nginx/production.conf.d:/etc/nginx/conf.d"
      - "./dist:/dist"
