/*
# /* means ignoring all files under / (root of the project)
**/*~
# **/*~ means ignoring all *~ files anywhere
/images/**
!README.md
!README.org
!\.gitmodules
!\.gitignore
!/init.el
!/assets
!/site-lisp
!/non-lisp
