[submodule "site-lisp/godot-gdscript.el"]
	path = site-lisp/godot-gdscript.el
	url = https://github.com/francogarcia/godot-gdscript.el.git

[submodule "site-lisp/company-godot-gdscript.el"]
	path = site-lisp/company-godot-gdscript.el
	url = https://github.com/francogarcia/company-godot-gdscript.el.git

[submodule "site-lisp/mmm-mode"]
	path = site-lisp/mmm-mode
	url = https://github.com/purcell/mmm-mode.git

[submodule "site-lisp/vue-mode"]
	path = site-lisp/vue-mode
	url = https://github.com/AdamNiederer/vue-mode.git
