[submodule "site-lisp/godot-gdscript.el"]
        path = site-lisp/godot-gdscript.el
        url = git@github.com:francogarcia/godot-gdscript.el.git
[submodule "site-lisp/company-godot-gdscript.el"]
        path = site-lisp/company-godot-gdscript.el
        url = git@github.com:francogarcia/company-godot-gdscript.el.git
[submodule "site-lisp/mmm-mode"]
        path = site-lisp/mmm-mode
        url = git@github.com:purcell/mmm-mode.git
[submodule "site-lisp/pixel-mode"]
        path = site-lisp/pixel-mode
        url = git@github.com:rakete/pixel-mode.git
[submodule "site-lisp/org-reveal"]
        path = site-lisp/org-reveal
        url = git@github.com:yjwen/org-reveal.git
[submodule "site-lisp/vlfi"]
        path = site-lisp/vlfi
        url = git@github.com:m00natic/vlfi.git
[submodule "site-lisp/company-tern"]
        path = site-lisp/company-tern
        url = git@github.com:kylewaldner/company-tern.git
[submodule "scripts/jianpu-ly"]
        path = scripts/jianpu-ly
        url = git@github.com:ssb22/jianpu-ly.git
[submodule "site-lisp/emacs-application-framework"]
	path = site-lisp/emacs-application-framework
	url = git@github.com:emacs-eaf/emacs-application-framework.git
[submodule "site-lisp/wat-mode"]
	path = site-lisp/wat-mode
	url = git@github.com:devonsparks/wat-mode.git
[submodule "site-lisp/kana"]
	path = site-lisp/kana
	url = git@github.com:saltb0rn/kana.git
