<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="renderer" content="webkit">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="MobileOptimized" content="320">
    <meta name="applicable-device" content="pc">
        <title>Not Found (#404)        - 漫画456</title>
    <meta http-equiv="mobile-agent" content="format=[wml|xhtml|html5]; url=http://m.manhua456.com/manhua/xin52bianfuxia" /><link rel="miphtml" href="http://m.manhua456.com/manhua/xin52bianfuxia">
    <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="PyJhOy3RosoGPHl--QQWtOQTDREXF5EODYlHvl8VbLNxVQ9Le7P6k2plEz2yXGzxkStjIUh72lx72yDLbHZb-w==">

<link href="/assets/7f417ff4/css/font-awesome.min.css" rel="stylesheet">
<link href="/assets/7eb4218c/css/bootstrap.css" rel="stylesheet">
<link href="/plugins/toastr/toastr.min.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">
<link href="/assets/7d430861/css/common.css" rel="stylesheet">
<script src="/js/phone.js"></script>
<script>;phone.check("http://m.manhua456.com");</script>
        <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?b96d3bc1036f74723a0a5a59304d3ff4";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!--<script type="text/javascript" src="https://cdn.bootscdn.net/ajax/libs/jquery/3.6.1/jquery.js"></script>
</head>-->
</head>
<body class="clearfix">
<!--[if lte IE 8]>
<div class="ie8-warning-mask"></div>
<div id="ie8-warning"><p>本页面采用HTML5+CSS3，您正在使用老版本 Internet Explorer ，在本页面的显示效果可能有差异。建议您升级到 <a
        href="http://www.microsoft.com/china/windows/internet-explorer/" target="_blank">Internet Explorer 11</a>
    或以下浏览器：
    <br>
    <a href="http://www.mozillaonline.com/"><img src="http://res.kingwar.cn/images/etc/browser-firefox.png" alt=""></a> /
    <a href="http://www.baidu.com/s?wd=google%E6%B5%8F%E8%A7%88%E5%99%A8"><img src="http://res.kingwar.cn/images/etc/browser-chrome.png" alt=""></a> /
    <a href="http://www.operachina.com/"><img src="http://res.kingwar.cn/images/etc/browser-opera.png" alt=""></a></p>
</div>
<![endif]-->
<!--全站头部导航 开始-->
<div class="mainNav">
    <div class="mainNav_inner">
       <!--<div id="w0" class="mainNav_in_l"><a href="http://m.manhua456.net" target="_blank">手机版</a></div>-->
         <div id="w23" class="mainNav_in_l"><a href="http://m.manhua456.com" target="_blank">手机版</a></div> 
        <div class="mainNav_in_r" id="mainNav_in_r">
            <ul class="user-login">
                <li id="login_id_li"><a id="login_id" href="/login/">登录</a>|</li>
                <li><a id="register_id" href="/register/">注册</a></li>
            </ul>
            <ul class="mainNav_dl user-action" id="mainNavDl">
                <li>
                    <img class="usr_im" id="avatar" src=""/>
                    <a id="username" class="c_1" href="/member/" target="_blank"></a>                </li>
                <li id="quit"><a href="/logout/">退出</a>|</li>
                <li>
                    <a href="/member/unread/">订阅<span class="c_2"  id="update_notice"> (<em id="update_count"></em>)</span></a>                    |
                </li>
                <li><a href="/member/" target="_blank">会员中心</a>|</li>
                <li id="bookshelf">
                    <span class="span_icon"></span><a class="c_1" href="/member/subscribe/">我的书架</a>                    <div class="book_wrap">
                        <div class="book_open clearfix" id="bookOpen">
                            <ul class="book_open_tabs tabs" id="head_nav_tab">
                                <li class="font fl"><a href="#subscribe-list" data-toggle="tab">我的订阅</a></li>
                                <li class="font fr active"><a href="#history-list" data-toggle="tab">观看历史</a></li>
                            </ul>
                            <span class="top"></span>
                            <div class="head_nav_con tab-content" id="subscribe-list">
                                <ul class="book_con_li">
                                </ul>
                            </div>
                            <div class="head_nav_con tab-content active" id="history-list">
                                <ul class="book_con_li">
                                    <div class="no_content">你还没有观看过作品哦</div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>
<!--全站头部导航 结束-->
<!--head topTheme 开始-->
<div class="topTheme autoHeight">
    <div class="topTheme_inner autoHeight">
        <div class="dmzj-logo">
            <a class="logo" href="/"><img src="http://res.kingwar.cn/images/logo/dmzj.png" alt=""></a>        </div>
        <span id="w1" class="product_pic"><div class="empty"></div></span>
        <!--搜素 开始-->
        <div class="topTheme_in_search">
            <div class="topTheme_in_search_input">
                <div class="topTheme_search_input" tabindex="0" style="outline:none;">
                    <input type="text" class="search_input_l" id="keywords" name="keywords" placeholder="请输入关键字..."
                           autocomplete="off" style="color: rgb(153, 153, 153);">
                    <input type="button" class="search_input_r" id="btnSearch" value="">
                    <ul class="messagSjr autoHeight" style="display: none;" id="search-results"></ul>
                </div>
                <!--热门关键词-->
                <ul id="w2" class="sear_keyword"><li data-key="9111"><a href="http://www.manhua456.com/manhua/kouzhaonanzimingmingbuxiangtanlianai/">口罩男子明明不想谈恋爱</a></li>
<li data-key="10843"><a href="http://www.manhua456.com/manhua/limianyeqinghaohaotengai/">里面也请好好疼爱</a></li>
<li data-key="2351"><a href="http://www.manhua456.com/manhua/lianyiduixiangshiroushixijingguan/">联谊对象是肉食系警官</a></li>
<li data-key="10051"><a href="http://www.manhua456.com/manhua/nidejugenbuyongtailangfeile/">你的巨根不用太浪费了</a></li>
<li data-key="19756"><a href="http://www.manhua456.com/manhua/qunzixiamianshiyeshou/">裙子下面是野兽</a></li>
<li data-key="9104"><a href="http://www.manhua456.com/manhua/linzuodebiantaiqianbei/">邻座的变态前辈</a></li>
<li data-key="18256"><a href="http://www.manhua456.com/manhua/rangcanquejinglingbianxingfudeyaoshi/">让残缺精灵变幸福的药师</a></li>
<li data-key="20986"><a href="http://www.manhua456.com/manhua/zhudefuchou/">猪的复仇</a></li>
<li data-key="20349"><a href="http://www.manhua456.com/manhua/wozaiyishichiruanfan/">我在异世吃软饭</a></li>
<li data-key="1171"><a href="http://www.manhua456.com/manhua/chongjingchengweimofashaonv/">憧憬成为魔法少女</a></li>
<li data-key="13694"><a href="http://www.manhua456.com/manhua/suoxiaojiaoji/">缩小交际</a></li>
<li data-key="13550"><a href="http://www.manhua456.com/manhua/yipiandanxin/">一骗丹心</a></li></ul>                <!--热门关键词-->
            </div>
            <!--公告-->
            <div class="announce">
                <ul id="index-notice"><div class="empty"></div></ul>            </div>
            <!--公告 结束-->
        </div>
        <!--搜素 结束-->
    </div>
    <div class="topTheme_nav">
        <!--主导航栏 开始-->
        <div class="topTheme_nav_in">
            <!--导航栏-->
            <ul class="topTheme_nav_inl">
                <li><a class="cur " href="/">首页</a></li>
                <li><a class="" href="/list/shaonian/">少年</a></li>
                <li><a class="" href="/list/shaonv/">少女</a></li>
                <li><a class="" href="/list/qingnian/">青年</a></li>
                <li><a class="" href="/list/lianzai/">连载</a></li>
                <li><a class="" href="/list/wanjie/">完结</a></li>
                <li><a class="" href="/update/">最近更新</a></li>
                <li><a class="" href="/rank/">排行榜</a></li>
                <li><a class="" href="/list/">全部漫画</a></li>
            </ul>
            <!--导航栏 结束-->
            <!--上传漫画-->
            <div class="topTheme_nav_inr">
                <a href="/member/index/" target="_blank">上传漫画</a>            </div>
            <!--上传漫画 结束-->
        </div>

    </div>
    <!--topTheme 结束-->
</div>
<!--head topTheme 结束-->
<div class="site-error" style="
    width: 1200px;
    padding: 15px 0;
    margin: 0 auto;
">

    <h1>Not Found (#404)</h1>

    <div class="alert alert-danger">
        页面未找到。    </div>

    <p>
        <a class="btn btn-success" href="/">返回首页</a>        <a class="btn btn-primary" href="/list/">漫画大全</a>        <a class="btn btn-danger" href="/member/">会员中心</a>    </p>

</div>

<div class="foot">
    <div class="foot_con">
        <div id="w4" class="app_code"><img src="http://res.kingwar.cn/images/block/201812/1545399792LJ0jhIhGbFc72401.jpg" width="99" height="101" alt=""><p>底部栏目-二维码</p></div>
        <div id="w5" class="about"><div class="block-header clearfix"><div class="block-title"><span>底部栏目-关于</span></div><div class="block-subtitle"><span></span></div></div>
<ul class='foot_con_list'><li data-key="21"><a href="/about.html" target="_blank">关于我们</a></li></ul></div>        <div id="w6" class="throw"><div class="block-header clearfix"><div class="block-title"><span>底部栏目-投稿</span></div><div class="block-subtitle"><span></span></div></div>
<ul class='foot_con_list'><li data-key="22"><a href="/" target="_blank">投稿</a></li></ul></div>        <div class="copyr">
            <h3>漫画456—版权所有</h3>

            <p> <a href="http://beian.miit.gov.cn" target="_blank" style="color:red">备案号为： 黔ICP备19011069号</a> </p>
        </div>
    </div>
</div>
<div class="side_public scroll-top" id="sidePublic">
    <a href="javascript:SinMH.scrollTo(0);" id="returnTop" class="return-top"></a>
    <!--<a href="/app" class="ewm" target="_blank"></a>-->
    <span id="w7"><a href="/" target="_blank"><img src="http://res.kingwar.cn/images/block/201812/1545399972TSxjUDY1LPkluYAB.jpg" width="34" height="34" alt=""></a></span>
</div>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="alert-modal" id="alert-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">提示信息</h4>
            </div>
            <div class="modal-body text-center"> 弹窗内容</div>
            <div class="modal-footer text-center" style="text-align: center;">
                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">确 &nbsp; 定
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" id="confirm-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">提示信息</h4>
            </div>
            <div class="modal-body text-center"> 弹窗内容</div>
            <div class="modal-footer text-center" style="text-align: center;">
                <button type="button" class="btn btn-primary btn-confirm" data-dismiss="modal" aria-label="Confirm">确
                    &nbsp; 定
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">取 &nbsp; 消
                </button>
            </div>
        </div>
    </div>
</div>

<script id="search-template" type="text/html">
    <%if(items&&items.length>0){%>
    <%for(var i = 0; i
    <items.length;i++){
    var item = items[i];
    %>
    <li title="<%=item.title%>" data-url="<%= item.uri %>">

        <p class="pull-left">
        [<a href="/author/id-<%= item.author_id %>/"><%=item.author%></a>]
        <a href="<%= item.uri %>"><%=item.title%></a>
        [<span class="<%=item.serialise==1?'text-danger':'text-success'%>"><%=item.serialise==1?'连载中':'已完结'%></span>]
        </p>
        <% if(item.last_chapter_id>0){ %>
        <span class="pull-right">更新至：
        <a href="<%= item.uri+ item.last_chapter_id%>.html"><%=item.last_chapter_name%></a></span>
        <% } %>
    </li>
    <%}%>
    <%}else{%>
    <li>暂无搜索结果</li>
    <%}%>
</script>
<script id="history-template" type="text/html">
    <%if(list&&list.length>0){%>
    <ul class="book_con_li">
        <%for(var i = 0; i < list.length;i++){
        if(i>15) break;
        var item = list[i];
        %>
        <li>
            <span class="tip"></span>
            <a class="book_title" title="<%=item.comic_name%>" href="<%=item.comic_url%>"
               target="_blank"><%=item.comic_name%></a>
            <span class="book_l">看到</span>
            <a class="book_num"
               title="<%=item.read_chapter%>"
               href="<%=item.read_chapter_url%>"
               target="_blank"><%=item.read_chapter%></a>
            <span class="book_clo" onclick="SinMH.removeHistory(<%=item.comic_id%>);">X</span></li>

        <%}%>
    </ul>
    <a class="book_con_bottom" href="/member/history/" target="_blank">查看更多历史记录</a>    <%}else{%>
    <div class="no_content">你还没有观看过作品哦</div>
    <%}%>
</script>
<script id="subscribe-template" type="text/html">
    <%if(list&&list.length>0){%>
    <ul class="book_con_li">
        <%for(var i = 0; i < list.length;i++){
        if(i>15) break;
        var item = list[i];
        %>
        <li>
            <span class="tip"></span>
            <a class="book_title wid" title="<%=item.comic_name%>" href="<%=item.comic_url%>" target="_blank"><%=item.comic_name%></a>
            <% if(item.update_chapter!=null) { %>
            <a class="book_num" title="<%=item.update_chapter%>" href="<%=item.update_chapter_url%>" target="_blank"><%=item.update_chapter%></a>
            <% }
            if(item.status == 0)%><span href="" class="subcribe_new"></span>
        </li>

        <%}%>
    </ul>
    <a class="book_con_bottom" href="/member/subscribe/" target="_blank">查看更多订阅</a>    <%}else{%>
    <div class="no_content">你还没有订阅过作品哦</div>
    <%}%>
</script>

<script src="/assets/f019ed70/jquery.js"></script>
<script src="/assets/49c995f9/yii.js"></script>
<script src="/assets/7eb4218c/js/bootstrap.js"></script>
<script src="/plugins/toastr/toastr.min.js"></script>
<script src="/plugins/baiduTemplate.js"></script>
<script src="/plugins/jquery/jquery.cookie.js"></script>
<script src="/plugins/jquery/jquery.image.js"></script>
<script src="/plugins/jquery/jquery.lazyload.min.js"></script>
<script src="/plugins/jquery/jquery.hotkeys.js"></script>
<script src="/plugins/bootstrap/bootstrap.hover.dropdown.js"></script>
<script src="/plugins/bootstrap/bootstrap.hover.tab.js"></script>
<script src="/js/config.js"></script>
<script src="/js/common.js"></script>
<script src="/assets/7d430861/js/theme.js"></script>
<script>jQuery(function ($) {
;SinMH.init();SinTheme.init();$("img").lazyload();
});</script></body>
</html>
